*{
    font-family: 'helvetica';
}
body{
    background-image: url(fondo.jpg);
}
.titulo{
    text-align: center;
    font-size: 50px;
    font-style: italic;
}
.general{
    width: 60%;
    margin: auto;
}
.operaciones{
    display: grid;
    grid-template-rows: 170px 220px;
}
.operaciones div{
    text-align: center;
    border: 5px solid black;
    background-color:cornflowerblue;
    border-radius: 8px;
    margin-top: 10px;
}
.etiqueta{
    display: inline-block;
    width: 200px;
}
.campo{
    padding: 5px;
    border-radius: 5px;
}
.boton{
    font-weight: bolder;
    border: 2px solid black;
    border-radius: 6px;
    padding: 10px;
    margin-top: 10px;
}
